h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.88;
  color: #604B83;
  background-color: #ffffff;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
}

.section {
  margin-top: 70px;
  margin-bottom: 70px;
}

.header {
  background: #6425CB;
}

.header__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.communication__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px;
  margin-right: 12px;
  background-color: #F4AB00;
}
.communication__link:hover .communication__wrapper, .communication__link:focus .communication__wrapper {
  background-color: #ffffff;
}

.communication__icon {
  fill: #ffffff;
}
.communication__link:hover .communication__icon, .communication__link:focus .communication__icon {
  fill: #F4AB00;
}

.communication__item:not(:last-child) {
  margin-right: 15px;
}

.communication__link {
  font-size: 16px;
  line-height: 1.75;
  color: #ffffff;
}
.communication__link:hover, .communication__link:focus {
  color: #F4AB00;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 15px;
  background: #ffffff;
  border-radius: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo:hover, .logo:focus {
  fill: #F4AB00;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 10px;
}

.site-nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  font-size: 16px;
  line-height: 1.5;
  color: #232425;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #F4AB00;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__link {
  fill: #000000;
}
.social__link:hover, .social__link:focus {
  fill: #ffffff;
}

.btn {
  padding: 11px 26px;
  background: none;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.46;
  color: #ffffff;
  background-color: #F4AB00;
}
.btn:hover, .btn:focus {
  background-color: #604B83;
}

.hero {
  position: relative;
  z-index: -1;
  padding-top: 75px;
  padding-bottom: 400px;
  background-color: #6425CB;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 115px;
  background-image: url("../../image/background-down.svg");
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  width: 412px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.hero__title {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.17;
  color: #ffffff;
}

.hero__title-accent {
  color: #F4AB00;
}

.hero__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.88;
  color: #ffffff;
}

.hero__img {
  position: absolute;
  right: 0;
}

.seo-results__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seo-results__img {
  margin-right: 55px;
}

.seo-results__addtitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  color: #F4AB00;
}

.seo-results__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.33;
  color: #2C1258;
}

.seo-results__text {
  margin-bottom: 25px;
}

.seo-results__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seo-results__item {
  font-size: 16px;
  line-height: 1.75;
  color: #2C1258;
}

.seo-results__item::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background-image: url("../../image/check-mark.svg");
}

.strategy {
  width: 80%;
  padding: 100px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 9px 9px 35px rgba(56, 11, 113, 0.1);
          box-shadow: 9px 9px 35px rgba(56, 11, 113, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.strategy__content {
  width: 50%;
}

.strategy__list {
  width: 50%;
}

.strategy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=main.css.map */