body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.88;
    color: $primary-text-color;
    background-color: $white-color;
}
.list{
    list-style-type: none;
}
.link {
    text-decoration: none;
}