$primary-text-color: #604B83;
$secondary-text-color: #2C1258;

$primary-bg-color: #6425CB;
$secondary-bg-color: #421B81;
$additional-bg-color: #E5D8FA;

$accent-color: #F4AB00;

$white-color: #ffffff;
$black-color: #000000;

$site-nav-color: #232425;

$reasons-сhoosing-bg-color: #F6F1FF;